{% extends "web/base_web.html" %}

{% block title %}Quiénes Somos | TaskFlow{% endblock %}

{% block content %}

<section class="page-section">

    <div class="container">

        <h1>Quiénes Somos</h1>

        <p>
            Somos TaskFlow, una empresa enfocada en entregar
            soluciones digitales para la organización y gestión
            de proyectos.
        </p>

        <p>
            Nuestra plataforma busca centralizar usuarios,
            proyectos y tareas en un mismo sistema, permitiendo
            a los equipos trabajar de manera más ordenada y eficiente.
        </p>

    </div>

</section>

{% endblock %}